[2016-06-23 15:19] leonelquinteros opened #1 "Add support for PO context (msgctxt)"
The PO file format specifies a way to define a context for a given msgid so several equal msgid can be identified for different contexts.

Reference: https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html

[2016-06-23 15:20] leonelquinteros opened #2 "Add support for MO files"
Create a parsing method to work with MO file formats.

[2016-06-26 18:44] leonelquinteros commented on #1
Implemented

[2016-06-26 18:44] #1 closed

[2016-07-13 13:34] leonelquinteros opened #4 "Implement Plural Forms header"
Plural form functions aren't GNU gettext compliant.
The Plural Forms header needs to be parsed and stored and the meaning for the N parameter on the "N" functions needs to be changed.

From the docs:

[2016-07-15 23:11] leonelquinteros commented on #4
Fixed on v1.1.0 release

[2016-07-15 23:11] #4 closed

[2016-07-17 13:37] leonelquinteros opened #5 "Remove external packages dependency"
Implement Plural-Forms formula parser locally so we can remove Anko dependency

[2017-05-22 08:09] ptman commented on #2
There's some ideas about MO parsing in https://github.com/giefferre/gettext/blob/master/mo.go (or https://github.com/gorilla/i18n/blob/master/gettext/mo.go )

[2017-06-16 07:12] mattn commented on #5
related on https://github.com/leonelquinteros/gotext/pull/7 ?

[2017-06-16 14:22] leonelquinteros commented on #5
@mattn Yes and thanks again.
Still want to remove any dependencies from the package, but you've improved it so much already!

[2017-07-05 20:46] segeschecho opened #8 "Remove plural default in Po Gets"
Return singular or plural (by checking N) instead of plural form by default.

GetN and GetNC functions both have plural and singular strings available and the "n" to determine which one to return.

It doesn't seem natural to expect a default plural string when it wasn't possible to translate the string.

[2017-07-05 21:43] leonelquinteros commented on #8
@segeschecho Thanks for the report!

It also matches the behaviour of the original `ngettext` as described in the docs: https://www.gnu.org/software/gettext/manual/html_node/Plural-forms.html

I've pushed a fix for it and make it a release soon.

[2017-07-05 21:43] #8 closed

[2017-07-06 12:52] segeschecho commented on #8
@leonelquinteros Thank you !

[2017-08-29 21:42] us3r64 opened #9 "Handling empty msgstr case"
If msgstr is empty ```msgstr ""``` shouldn't the original string, untranslated version, be returned?

After some tests this looks for me the right checks to handle the empty case

[code]

[2017-08-29 23:19] us3r64 commented on #9
That will actually break `Multi line strings and headers`.
Can trim the original string, but looks ugly at this point:

[code]

[2017-08-30 13:55] leonelquinteros commented on #9
You're right, as defined in https://www.gnu.org/software/gettext/manual/html_node/Untranslated-Entries.html empty translation strings should be handled as "untranslated".

I've pushed a fix for this and will do a small release for it.

Thanks for reporting!

[2017-09-01 15:09] us3r64 commented on #9
Hi,

The issue is not fixed 100%.

For `GetD` you do `GetND` with plural set to `1` but `pluralID` doesn't get set.

So for empty msgstr you still get `""`, make sense?

[2017-09-01 16:29] #9 closed

[2017-09-07 19:17] JiangtianLi opened #10 "Parse header in PO file is no longer compliant with GNU PO format"
It seems after [this commit](https://github.com/leonelquinteros/gotext/commit/4a52c7709da5a8592d3734fc910a005ec638a576), the PO header requires a different format than https://www.gnu.org/software/gettext/manual/html_node/PO-Files.html.

`An empty untranslated-string is reserved to contain the header entry with the meta information (see Header Entry). This header entry should be the first entry of

[2017-09-07 20:24] leonelquinteros commented on #10
You're right, thanks for reporting!
I missed how that commit was commenting out these lines in the tests.

Fixing now.

[2017-09-07 20:25] JiangtianLi commented on #10
Thanks for addressing it!

[2017-09-08 21:09] #10 closed

[2017-09-08 21:12] leonelquinteros commented on #10
@JiangtianLi Please let me know if this was causing an issue on your side and if the last commit has fixed it.

Also, if you have any use case that you want to include on the tests, feel free to send a PR or simply the corresponding PO file fragment and some assertions so i can include these on the tests. It would be great to cover as much cases as possible.

Thanks again for your contribution. If

[2017-09-08 21:19] JiangtianLi commented on #10
@leonelquinteros Thanks for the fix. Will try and update here.

[2017-09-08 22:55] JiangtianLi commented on #10
It solved the issue in my case. Thanks for the prompt fix!

[2018-02-13 19:05] leonelquinteros opened #14 "GetN and GetNC don't honor domain package variable set by SetDomain()"
# Please describe your issue

## Is this a bug, an improvement, a proposal or something else?

- [x] Bug
- [ ] Improvement
- [ ] Proposal
- [ ] Something else

## Briefly explain your issue

Using the global package functions `GetN()` and `GetNC()` after setting a different domain than "default", these functions still load translations from the "default" domain.

## What's the expected behaviour?

[2018-02-13 20:35] #14 closed

[2018-03-19 11:38] toby3d opened #15 "LocaleGet use globalConfig instead config from receiver"
## Is this a bug, an improvement, a proposal or something else?
- [x] Bug
- [ ] Improvement
- [ ] Proposal
- [ ] Something else

## Briefly explain your issue
The variable created by `NewLocale(...)` when querying a string through `Get(str, vars...)` for some reason refers to the DOM from the `globalConfig`, not from the configuration of the variable. As a consequence, all logic breaks.

## What's

[2018-03-19 12:15] toby3d commented on #15
I can make the patch for solve this.

[2018-03-19 14:53] leonelquinteros commented on #15
Thanks for the report.

I don't think this is a bug in the `Locale` object. `Locale.AddDomain()` just loads a new domain file on memory to be used by the package, but it shouldn't set the `globalConfig.domain` variable at package level, because it could introduce conflicts when multiple Locale objects are used from different goroutines and the behaviour will be unexpected.

If you are working with

[2018-03-22 08:01] Dexus commented on #15
I would take the first AddDomain or an initial "Domain" as default, everything else that is added afterwards should only be accessible via `GetD(.......)`.

[2018-03-22 08:04] toby3d commented on #15
@Dexus Sounds good.

I try make a patch on this week, @leonelquinteros. (sorry for silence on last two days)

[2018-03-22 12:17] leonelquinteros commented on #15
@toby3d Sounds good, thanks!

I'd initialize the `Locale` object to the domain set at package level reading from `GetDomain()` when creating the object.

Then implement `Locale.GetDomain()` and `Locale.SetDomain()` to make it consistent across the package.

Please add tests cases to cover all this.

[2018-03-22 21:44] Dexus commented on #5
Now we can remove it with #16.

Cheers :)

[2018-03-22 21:45] Dexus commented on #2
This will be the next when you like to accept #16.

[2018-03-23 00:25] mattn commented on #5
Congrats :)

[2018-03-23 01:20] Dexus opened #17 "Support more FileSystems"
# Please describe your issue

## Is this a bug, an improvement, a proposal or something else?

- [x] Improvement

## Briefly explain your issue

Support more FileSystems like VFS, go-bindata, fileb0x etc.

## What's the expected behaviour?

Creation of an abstraction of file systems to be used. So that it is possible to use not only the system file system but also other virtual file systems.

## W

[2018-03-23 02:13] Dexus opened #18 "Refactoring of gettext/locale constructs"
# Please describe your issue

## Is this a bug, an improvement, a proposal or something else?

- [x] Improvement
- [x] Proposal

Unfortunately it is not so ideal for a multilingual web application if the files are reloaded for each request, but it should be possible to use a cache for each locale, and with an option (devel) and function to grant the possibility of rebuild.

Therefore I consider it

[2018-03-23 18:29] leonelquinteros commented on #5
Thanks all!

[2018-03-23 18:29] #5 closed

[2018-03-23 18:30] leonelquinteros commented on #2
@Dexus Awesome!

I'll start a new release roadmap so after we finish all new changes we rollout a new release version number.

[2018-03-23 18:59] leonelquinteros commented on #18
@Dexus So you mean "something" like the package does for the `globalConfig` global status, but for `Locale` objects, right?

The `globalConfig` was a necessary evil to allow the implementation of the "package level" functions, so simple usage of the package is allowed and the preload of the translation files was handled by the package.
Anybody looking to use the package for simple use cases can re

[2018-03-23 20:38] Dexus commented on #18
I already built something there, only I haven't put it into our repo yet...

A simple, if not nice variant for the problem is, you can write several methods for the object and call something like `LoadLocale(locale)` per request and pass the `Locale` through.

I'll push something into our repo the next few days and then you can take a look at it and give your opinion.

[2018-03-23 20:43] Dexus commented on #17
As already written in #18, I will push something for the next days, then maybe it will be a bit clearer and we will be able to install something like that. We work with a singleton so that we can process everything in one place and our application can work with it.

Maybe it's not elegant, but you can form your own opinion in a few days and maybe you can work with it.

Greetings, Josef

[2018-03-23 20:44] leonelquinteros commented on #18
Sounds good! I'll look forward for it.

Have a nice weekend!

[2018-03-24 04:02] Dexus commented on #15
This should also been fixed in #19

[2018-03-24 05:30] Dexus opened #20 "Add support for localized content like images and other stuff "Getdata""
# Please describe your issue

## Is this a bug, an improvement, a proposal or something else?

- [X] Improvement
- [X] Proposal

Sometimes I have to deliver pictures or PDFs related to localization, so it would be a very good idea to save this data as "LC_RESSOURCES" and deliver it with the module.

[2018-03-24 18:29] Dexus commented on #18
I mean a cache for the locale and po/mo files, so that it not need to load every change of the locale(language) or domain.

Another thing is the module should have more like GNU Gettext Named Functions and not like now GetC... which are very uncool if you have worked long times with gettext.

Currently the gettext file dont cache locale when you change somthing that called the "force" on the `load

[2018-03-24 19:38] leonelquinteros commented on #18
Sorry, I'm not sure i'm following you, can you provide an example?

Well, the package names are shorter than, say, `Gettext`, `NGettext`, `DCNGettect` and I'm OK with the current approach. Also, if we're heading towards allowing different (non-gettext) translation storages, we should keep the breach between the function names.

I'm OK with this and it should be addressed in the `Translator` interf

[2018-03-24 19:43] leonelquinteros commented on #20
I think this is a very personal approach and it's outside the scope of the package.

Others may want to use a different directories structure, or store these in a DB, or in a Cloud storage service, or anywhere else, not mentioning that they may also have different rules about how these resources are managed.

In your case, you can use gettext translations to translate file paths as strings and the

[2018-03-24 19:43] #20 closed

[2018-03-24 20:11] Dexus commented on #18
[code]

[2018-03-28 14:08] #2 closed

[2018-03-28 14:08] #15 closed

[2018-03-28 14:12] leonelquinteros opened #21 "Make golint happy"
# Please describe your issue

Fix `golint` warnings.

## Is this a bug, an improvement, a proposal or something else?

- [ ] Bug
- [x] Improvement
- [ ] Proposal
- [ ] Something else

## Briefly explain your issue

[code]

## What's the expected behaviour?

No warnings returned from golint

## What's the actual behaviour?

Warnings returned from golint

## What are the steps to reproduce the actua

[2018-03-28 14:24] leonelquinteros opened #22 "Allow Locale "backends" to work with different translation sources"
# Please describe your issue

A `Locale` should be able to use different backends to load domain `Translator`s.

## Is this a bug, an improvement, a proposal or something else?

- [ ] Bug
- [x] Improvement
- [ ] Proposal
- [ ] Something else

## Briefly explain your issue

All methods should work as they do now, but we may need to change the `AddDomain()` method so we can pass either a pre-loaded

[2018-03-28 14:27] leonelquinteros opened #23 "Make objects serializable"
# Please describe your issue

All `Translator` and `Locale` objects should be serializable somehow, to allow caching.

## Is this a bug, an improvement, a proposal or something else?

- [ ] Bug
- [x] Improvement
- [ ] Proposal
- [ ] Something else

## Briefly explain your issue

`Translator` and `Locale` objects can't be cached outside "local memory" because they can't be serialized.

## What's th

[2018-04-08 17:39] Morganamilo opened #24 "Crash during configure"
## Is this a bug, an improvement, a proposal or something else?

- [x] Bug
- [ ] Improvement
- [ ] Proposal
- [ ] Something else

## Briefly explain your issue

gotext crashes during the call to `gotext.Configure()`.

## What's the expected behaviour?

No crash.

## What's the actual behaviour?

gotext crashes due to a sigsev signal:
[code]

when calling:
[code]

## What are the steps to reproduce

[2018-04-08 20:37] #24 closed

[2018-04-08 20:41] leonelquinteros commented on #24
Thanks for the report!
Please check now.

Also, take in consideration that we're moving towards release a version 2 of the package that may break backwards compatibility if you are using the master branch.
You can rely on the release tags to vendor the last stable version ( v1.3.1 at this moment ) https://github.com/leonelquinteros/gotext/releases

[2018-04-08 21:10] Morganamilo commented on #24
I've only played around with this project a little bit, basically just did the initial setup to get a feel for how it works. Realised the current release didn't have .mo support to I jumped onto master. I'll move to a release whenever the next one comes out.

Backwards compatibility is not really an issue because I only have a few lines of code leveraging this package just to test it out. I unders

[2018-05-29 15:46] #21 closed

[2018-05-29 15:48] leonelquinteros commented on #18
Closing this one in favor of https://github.com/leonelquinteros/gotext/issues/23

[2018-05-29 15:48] #18 closed

[2018-07-05 14:37] #22 closed

[2018-07-05 17:51] leonelquinteros commented on #17
Having the option to load a Po file from any source, and now, the option to implement external Translator objects that can work with other translation sources, I'll leave this feature to be implemented by any third party or package users when convenient.

Not going to include this feature in the package.

[2018-07-05 17:51] #17 closed

[2018-08-14 12:42] toby3d opened #25 "Doesn't translate to Arabic"
The package can not work with Arabic translations:

My `ar/categories.po` translation:
[code]

Go example:
[code]

Output:
[code]

[2018-08-14 13:56] leonelquinteros commented on #25
@toby3d The `%!(EXTRA <nil>)` message you're receiving is because you're passing a `nil` parameter to the `GetD` method, for a string that doesn't expect to receive any parameter.

You should be getting the arabic translation for that anyway, so I'm writing a test for this case to see what's happening.

[2018-08-14 14:04] leonelquinteros commented on #25
@toby3d Please see last commit. I've copied your code into a test and it looks good from my side.

Maybe the path you're using for the `gotext.NewLocale` method isn't correct. Or maybe you have a syntax error in the .po file prior to the `"Alcohol & Tobacco"` translation definition.

I'm leaving this issue open so I can provide some support for you, but please check the code on your side to figure

[2018-08-14 14:07] toby3d commented on #25
@leonelquinteros Okay, thanks, I'll check it deeper in the next day or two and let you know.

[2018-08-14 14:11] leonelquinteros opened #26 "Write formal documentation"
# Please describe your issue

The only documentation for this package is Godoc and the README.md file from this repo. We need to write better docs, some tutorial and use case examples to make package adoption easier.

### Is this a bug, an improvement, a proposal or something else? Describe it.

Improvement

### What's the expected behaviour, the current behaviour and the steps to reproduce it?

W

[2018-08-22 08:51] toby3d commented on #25
I apologize for the long answer:
testing showed that the translation works correctly for all languages, except for languages from the right-left. Maybe the problem is really in .po files, but I'm not sure.

I will re-open the issue if I can reproduce the bug more in detail.

[2018-08-22 08:51] #25 closed

[2018-09-07 19:04] leonelquinteros opened #27 "Add support for Go Modules"
# Please describe your issue

### Is this a bug, an improvement, a proposal or something else? Describe it.

Improvement

### What's the expected behaviour, the current behaviour and the steps to reproduce it?

Want to use the Go Modules feature released in Go 1.11

### Comments

See wiki: https://github.com/golang/go/wiki/Modules

[2018-09-07 21:14] #23 closed

[2018-09-12 18:03] #27 closed

[2018-12-07 04:13] draveness opened #29 "gotext.GetD does not load the po file"
# Please describe your issue

gotext.GetD does not reload the po file. I use the code which copied and modified from the README.

[code]

The `gotext.Get` worked as expected and printed the correct result in the stdout. However, `gotext.GetD` didn't give the expected result, as below:

[code]

And here is how the po files are organized:

[code]

[2018-12-07 04:34] draveness commented on #29
I submitted a fix and related tests in PR #30

[2018-12-16 19:59] purpleidea opened #31 "Extract strings into po files"
Hey!

I haven't used gettext in a while, and I was looking into a golang variant. Kind of too bad you can't do: `_("the message")` in golang, like you can everywhere else :/

In any case, IIRC (it's been a while) gettext tooling gives you a way to extract all the TO-BE-TRANSLATED strings into the .po files. That way you know what's left to do, and you can update these as you add new strings...

Do

[2018-12-16 20:02] purpleidea commented on #31
Here's something similar which I did not test: https://github.com/gosexy/gettext/tree/master/go-xgettext

[2018-12-17 13:04] leonelquinteros commented on #31
Yes, that's something that was brought to my attention before. It's planned, but haven't had the time to implement it.

[2018-12-17 14:36] #29 closed

[2018-12-27 11:58] hanjk1234 opened #32 "some country not have Plural form"
for example
en_US heads
`"Plural-Forms: nplurals=2; plural=(n != 1);\n"`

ru_RU head
`"Plural-Forms: nplurals=3; plural=(n%10==1 && n%100!=11 ? 0 : n%10>=2 && n%10<=4 && (n%100<10 || n%100>=20) ? 1 : 2);\n"
`
but  zh_CN  heads  not Support
`"Plural-Forms: nplurals=INTEGER; plural=EXPRESSION;\n"`

panic error:
`panic: runtime error: index out of range [recovered]
	panic: runtime error: index out of

[2018-12-27 14:15] leonelquinteros commented on #32
If you have this line `"Plural-Forms: nplurals=INTEGER; plural=EXPRESSION;\n"` in your .po file, that's probably what's failing.

`INTEGER` and `EXPRESSION` aren't valid values for these Plural-Forms header.

You can try removing the `Plural-Forms` line, or change these values to valid expressions like:

`"Plural-Forms: nplurals=1; plural=0;"`

You can check the gettext docs for examples on Plural

[2018-12-28 06:50] hanjk1234 commented on #32
thanks!!

[2019-01-02 19:22] #32 closed

[2019-02-15 18:33] leonelquinteros commented on #31
@purpleidea I've pushed a first approach for extracting translation strings into .po files on master branch.

Would you like to try it and give some feedback? Please check https://github.com/leonelquinteros/gotext/tree/master/cli/xgotext for more details.

Note that it's super fresh and isn't feature-complete yet, but it can be a good starting point for not-so-complex cases.

And of course, ALL fe

[2019-05-27 13:54] MichaelMure commented on #31
This would be super useful, and would probably make me use gotext for https://github.com/MichaelMure/git-bug

[2019-05-27 17:09] leonelquinteros commented on #31
@MichaelMure That's great! Cool project BTW.

It's also useful for me to have adopters so we can test it in the wild and polish some edges. Please send any issues or feature requests you may have and we can improve it together.

[2019-05-27 17:19] MichaelMure commented on #31
Well, for now I've looked for solutions to implement i18n for git-bug, but what is available in go is not very convincing. https://github.com/nicksnyder/go-i18n, mentioned in a lot of places, seems to be extremely verbose to use. `gotext` seems quite nice and use the common Po format, but having to extract and manage manually the source strings as for now been enough for me to postpone this task.

[2019-06-04 16:39] Enrico204 commented on #31
@leonelquinteros I'm starting to use `gotext` in my project, and I'm trying the CLI tool (right now). The first thing that I noticed is that the CLI program options are not described in the `README.md`, while the `-help` describe some parameters. As soon as I have some spare time I can make a PR if you want :-)

[2019-06-04 16:43] Enrico204 commented on #31
and I just found a bug: it's extracting also the first parameter of `grequests.Get()` (which is an URL) :-)

[2019-06-04 18:49] leonelquinteros commented on #31
@Enrico204 Thanks for your collaboration!

PRs are extremely welcome, please send yours whenever you're ready.

About the bug, yes, it will extract any function signature `Get(a string)` right now, the current implementation is just a proof of concept and needs some progress that I couldn't find time to put into it. You can open a new Issue about that so you can keep track of that progress there a

[2019-10-01 16:44] rodrigo-brito commented on #31
Maybe it is too late, but for future users:
[code]

I create a custom function Wrapper to avoid wrong extractions with keyword `Get`.
[code]
`xgettext` - Searches functions with a given Keyword inside your code. It extracts to a pot file.
`msgmerge` - It will merge a extracted pod file with other po file.

Temp files are required to avoid override of context.

[2019-10-01 17:13] leonelquinteros commented on #31
Hey Rodrigo,

Thanks! This is great. It will be helpful for many users requesting this kind onf solutions.

With time, I've hope we'll figure out a native way to do this in a clean way, but as you know, you need some spare time to work on open source projects.

Thanks again for your contribution!

[2019-10-20 08:59] alexedwards opened #34 "Locale.GetND should return singular default when N=1"
I'm very new to this package, so sorry if I'm misunderstanding something!

But it seems like the `GetND` and `GetNDC` methods in `locale.go` only return the plural default, not the singular when N=1.

I had quick look through the issues, and it looks like the same problem in the `po.go` file was fixed in https://github.com/leonelquinteros/gotext/issues/8, but the corresponding methods in `locale.g

[2019-10-21 13:20] leonelquinteros commented on #34
@alexedwards I've been looking into this issue, and while it's a bug, the solution is more complex than just N=1.

What's happening here is that the `Locale` object you're using doesn't have the Domain (`Po` object) you're requesting loaded, so it defaulted to the plural.
That said, the current implementation was using the `n == 1` rule to identify singular cases, and that's kind of incorrect, bec

[2019-10-21 17:43] #34 closed

[2019-10-21 20:00] alexedwards commented on #34
Thanks for the time looking into this and the fast fix. I really appreciate it :+1:

[2020-02-24 17:15] bboehmke commented on #31
I tried to improve xgotext in #35.
This should also fix the wrong detection of functions like `grequests.Get()` mentioned by @Enrico204.

Would be great to get some feedback.

[2020-02-25 14:18] leonelquinteros commented on #31
@bboehmke 's work has been merged into master branch.

You're all welcome to heck it, use it and provide feedback in this issue before creating a new release including this new features.

Thank you all!

[2020-02-26 08:42] minjung-ryu commented on #31
The updated patch worked well with my codes. :)
@leonelquinteros when are you planning to release the new version?

[2020-02-27 15:36] bboehmke commented on #31
Sadly I found a couple of issues after running the xgotext on a larger project.

I will try to create a merge request with the fixes in the next days.

[2020-02-29 10:58] bboehmke commented on #31
I created a new merge request with the fixes and also an option to exclude directories -> #36

[2020-02-29 19:39] leonelquinteros commented on #31
@bboehmke I've merged your changes into master.

@minjung-ryu Would you like to try it on your side?

[2020-03-02 12:10] minjung-ryu commented on #31
@leonelquinteros @bboehmke Yes, I have run extraction and it worked well. And I think extracting to .pot is a good idea :) Thank you for your work.
However I think we don't need to print the.go file paths as log.

[2020-03-02 15:59] bboehmke commented on #31
I totally missed this log. I added it because the tool takes over 1 minute for my application and I want to see some progress.

I think the best would be to make it configurable via a flag like "-v" on `go build`.
If I find the time I will add this in the next days.

[2020-03-05 18:45] bboehmke commented on #31
Created a merge request #37 to add a verbose flag.
By default nothing is printed and if the "-v" flag is set the tool will print the current directory.

[2020-03-06 13:53] leonelquinteros commented on #31
Thanks @bboehmke !!
@minjung-ryu Would you like to check it and provide feedback?

[2020-03-18 14:17] minjung-ryu commented on #31
@bboehmke @leonelquinteros Yes, I could configure verbose flag. Thanks for the change :)
And I have one question, does the current version of xgotext support extraction from html template files?

[2020-04-04 12:49] Pixdigit opened #38 "gotext cli tool should mimic xgettext cli"
I know there is a lot to implement if one wants to copy the complete xgettext cli but I would at least implement the behaviour with reading in files. I.e. that the last argument is a filelist to be read in. I already made a fork and would implement that there.
This would allow a tool like poedit to automatically extract strings from code.

[2020-04-12 21:12] chrisvaughn commented on #31
just a note for anyone trying to use the xgotext cli tool on Go 1.14.  It appears there's an issue with x/tools/go/packages in Go 1.14 https://github.com/golang/go/issues/37617 I was getting the same error 'internal error: package "fmt" without types was imported from ...' until I rolled back to Go 1.13.10.

[2020-04-16 01:20] leonelquinteros commented on #38
Thank you @Pixdigit
I think it's a good idea, I'vec assigned you this issue as you mentioned you'll work on an initial implementation for this.

I'll look forward for your PR.

[2020-04-16 19:16] chrisvaughn opened #39 "Issue with Arabic localization not returning any strings"
# Please describe your issue
First off, thanks for all the work on this project. It's exactly what I need for my use case.

I get no string returned when localizing Arabic. I've tracked it down to the complex Pluralization rules of Arabic.  In this case, I'm not trying to use plurals.
### Is this a bug, an improvement, a proposal or something else? Describe it.
Bug
..

### What's the expected beha

[2020-04-16 21:48] leonelquinteros commented on #39
Hi @chrisvaughn,

Thank you so much for checking this and reporting it.
Quickly looking at the code, it seems the problem is in the `translation.go` file, `Translation.GetN(n int)` method:

[code]

For your case, I'm pretty sure that t.PluralID is empty, because isn't defined in your PO file.
Maybe a simple:
[code]
does the trick.

But I prefer you to follow up the case and figure out if we're not

[2020-04-16 21:57] chrisvaughn commented on #39
Thanks for the quick response, @leonelquinteros. I'll follow up on your tip and see if that works for me.  I'm in the process of porting a project from Python that was using Pybabel to Go. This project has localizations in ~70 languages so I have a lot of cases to test against. I'll report back once I have a branch that's working for Arabic and then I'll run through the other languages to see if a

[2020-04-16 22:39] chrisvaughn commented on #39
@leonelquinteros - Once I changed the pluralform string on the existing Arabic test to the correct string the existing test started failing in the same way that my sample code is failing. The call to Get returned an empty string.  I tried your suggested change and that improved the behavior but it only returned the original English string and the existing test still failed. The changes submitted a

[2020-04-19 15:56] leonelquinteros commented on #31
BTW, @minjung-ryu I think there is no support yet for extracting translation strings from HTML template files.

That may be a longer discussion, as these files aren't Go files, but something else.
If you want to go into that conversation and work with us to get a solution for it, please let's start a new ticket about that and move forward from there.

[2020-04-19 17:53] bboehmke commented on #31
@minjung-ryu Sorry I totally missed the question.
Yes this is possible. This is the reason why I implemented the [`AddParser()`](https://github.com/leonelquinteros/gotext/blob/master/cli/xgotext/parser/parser.go#L16) function. Simply implement a new parser and write your own xgotext CLI tool.

I have used this already in my own application for the extraction of HTML template translation with simpl

[2020-04-22 15:12] leonelquinteros commented on #39
This got fixed by https://github.com/leonelquinteros/gotext/pull/40

[2020-04-22 15:12] #39 closed

[2020-07-22 23:34] golightlyb opened #42 "Feature request - ways to detect missing translations at runtime"
Currently, a translation that doesn't exist just defaults to the passed message ID.

It can be helpful to be able to catch these missing cases e.g. to save to a log, so it might be helpful to have variants of the functions that return a boolean "ok" or an error or something

Here's a [PR #41](https://github.com/leonelquinteros/gotext/pull/41) that tries to implement this.

What do you think of thi

[2020-07-27 14:33] leonelquinteros commented on #42
Hi @golightlyb

Thank you very much for your contribution!
Also sorry for the late response.

I've been thinking on this use case, and I think you have a valid use case, but I'm not so sure on the approach.
This are the points I don't like much:
- Having a new set of methods that does exactly the same but returns 1 extra response value. I'd rather refactor existing methods, but that also adds a ba

[2020-07-28 05:14] golightlyb commented on #42
Thanks for those comments. I agree with your points and had the same sort of feeling that it wasn't ideal to have the new methods, and an error return value might be the better option. I appreciate your careful consideration!

`str := "Some string to translate"
tr := l.Get(str)
if tr == str {`

This actually works for me, but if the translation key was equal to a valid translation then this isn't

[2020-08-07 19:14] golightlyb commented on #42
Hi, I've been using this workaround, but its a bit awkward.

Having to repeat variables (and a second Sprintf call, which is extra work)
`
// ...
str := "Hello %s!"
tr := l.Get(str, "Bob")
if tr == fmt.Sprintf(str, "Bob") {
    log.Printf("Translation not found: %s", str)
    // ... or whatever you want to do here
}
`

It's also easy to get this wrong by mistake if the arguments don't line up exac

[2020-08-07 20:15] leonelcarbano commented on #42
Hi, thank you very much for your feedback. I understand completely.

If you're interested, I can take a different PR, to start what would be the v2 of the package, including the interface change for the Translator interface methods, to start returning the error response we discussed before. At this point, after your feedback, I think it's something that would be nice to have in the right way.

We

[2020-08-07 23:45] golightlyb commented on #42
Sounds good to me. I'm very grateful for the positive repsonse and will get back to you with a PR shortly. Best wishes.

[2020-09-07 16:52] razor-1 opened #43 "DRY up po/mo"
There's a fair amount of duplicate code in po.go and mo.go. Running golangci-lint with dupl enabled yields:

mo.go:279: 279-330 lines are duplicate of `po.go:307-358` (dupl)
po.go:307: 307-358 lines are duplicate of `mo.go:279-330` (dupl)
mo.go:449: 449-472 lines are duplicate of `po.go:478-501` (dupl)
po.go:478: 478-501 lines are duplicate of `mo.go:449-472` (dupl)

I would propose some refactori

[2020-09-07 20:54] leonelquinteros commented on #43
Hi @razor-1 ,
Thanks for your contribution! I'd like to see your proposal as a PR whenever you can. I'm always up for a DRY-up, but not so sure about changing a public interface to improve the code.

Let's see the proposal. and discuss our options.

[2020-09-10 20:09] razor-1 commented on #43
Thank you, I tried to minimize public interface changes in #44  as much as possible but there may still be room for improvement.

[2020-09-28 13:30] leonelquinteros commented on #43
Merged!

[2020-09-28 13:30] #43 closed

[2020-11-12 14:48] megamayoy opened #48 "Translating HTML templates"
# Please describe your issue
I have a small HTML template that have a small message sent via email

the HTML template contains dynamic variables as follows
`<p> Following up on your proposal on {{.ApplicationDate}} </p>`

Can you guide me on how to generate translation messages for HTML templates?

[2020-11-12 14:57] leonelquinteros commented on #48
Hi @megamayoy, not sure which part you need help with.
To generate translation messages, you can either edit a Po file by hand or use any gettext utilities to create it.

From there, you can follow up the docs in the README file on this repo, to get everything working.

And then, when you have a Locale object loaded with your translation messages, you can pass it up as a variable to your template

[2020-11-12 16:12] megamayoy commented on #48
Thank you so much.

[2020-11-12 16:12] #48 closed

[2020-11-12 16:28] megamayoy opened #49 "Can't install xgotext CLI tool"
I installed gotext successfully but Every time I try to install xgotext CLI by running
`go install github.com/leonelquinteros/gotext/cli/xgotext`

I get this message

I try to run the command **xgotext** from the terminal but it tells me `command not found`

my go version is
`go version go1.14.10 linux/386`

[2020-11-12 19:08] leonelquinteros commented on #49
I think Go Modules is resolving to the latest Gotext stable version (v1.4.0) which doesn't have the xgotext package.
You should `go get github.com/leonelquinteros/gotext@master` or something like that.

[2020-11-12 19:28] #49 closed

[2020-12-10 03:24] jhenstridge opened #50 "plurals subpackage appears to plagiarise github.com/ojii/gettext.go/pluralforms"
The code in plurals package includes the following copyright header:

[code]

However, the code appears almost identical to that found in [github.com/ojii/gettext.go/pluralforms](https://github.com/ojii/gettext.go/tree/master/pluralforms), with some types, functions, and variables renamed.  The code in the other repository was committed in 2016, so clearly predates this repo's copy.

The original

[2020-12-10 08:39] Antonboom opened #51 "Please add cli/xgotext to v1.4.1"
Hello!

We want to install the tool from the vendor directory, but we cannot install the `cli/xgotext`, since it is not included in the module source code:

https://github.com/leonelquinteros/gotext/tree/v1.4.0

[2020-12-10 13:33] leonelquinteros commented on #50
Hi @jhenstridge ,

Thanks for noting that out.
This is the PR that introduced that change: https://github.com/leonelquinteros/gotext/pull/16
I really don't care who wrote the code, but understand the issue.
@Dexus, as you're claiming rights for that code in the file, would you like to answer @jhenstridge comment about Licensing?

I'll open some time window now to discuss this issue, let's try to g

[2020-12-10 14:48] leonelquinteros commented on #51
Hi @Antonboom
At this moment, `xgotext` is only available in `master` branch. You should use that branch until it gets into a stable state to be released.

[2020-12-10 16:45] Dexus commented on #50
I don't know from where I got inspired. But yes it may come from there.

I can't remember.

[2020-12-10 16:54] Antonboom commented on #51
@leonelquinteros, ok, thanks!

[2020-12-16 05:56] jhenstridge commented on #50
I am not the original author: the code appears to be solely authored by Jonas Obrist:

https://github.com/ojii/gettext.go/commits/master/pluralforms

As I said, there's likely nothing wrong with reusing the code if it the copyright notice and license are preserved: the 3-clause BSD licensed code should be usable by pretty much any project where MIT licensed code was acceptable.

[2021-02-20 06:03] purpleidea commented on #31
I realized you could have a `__` function (two underscores) and I did a little POC:

https://play.golang.org/p/OLsPLgIDX-_w

You can't have a single underscore because it's the special value.

I also realized you can do a dot import:

[code]

But sadly this doesn't work with `__` because it's seen as private.

So I made this comment in the hope something can change: https://github.com/golang/go/is

[2021-05-10 10:44] tbonnardel opened #52 "Project status and feature request to use embed po files"
Hi !

I find your lib very attractive since it implements `gettext` in native Go and supports .po files, that are not the case for the other libs.

The wip extractor tool in CLI seems to be very useful although it's not include in v1.4.0.

I wonder if the project is still maintain. Indeed the last stable version was released on 2018 whereas some cool features (such as the cli) are in the pipes.

F

[2021-05-10 13:39] leonelquinteros commented on #52
Hi @tbonnardel !

The project is still maintained and got some good contributions during the last years. That said, progress has been slow as I found myself busier than before to work on new features.

I'm glad you found the CLI extractor useful for your use cases, that feature is one of the few that are ahead the last stable branch and I'm collecting feedback to be able to include in the next rel

[2021-05-10 16:45] tbonnardel commented on #52
Thanks for your precise answer!

Indeed we can easily implement a wrapper to load embeded files with the design you describe. It works and integrates well into `gotext`. I can notify you when I finalize this wrapper if you want to integrate or not this wrapper (that can also be an external one as you said).

About the CLI extractor, I would like to use it in the following context:

1. Write my sou

[2021-05-19 18:21] leonelquinteros commented on #51
`xgotext` has been included in `v1.5.0` release.

[2021-05-19 18:21] #51 closed

[2021-05-19 18:23] leonelquinteros commented on #31
Let's consider this issue closed now that we've released `xgotext` in `v1.5.0`.

[2021-05-19 18:23] #31 closed

[2021-09-04 00:54] hi019 commented on #52
Here's how I load translations from an embed:

[code]

[2021-09-16 16:31] itimky opened #53 "xgotext performance"
### Is this a bug, an improvement, a proposal or something else? Describe it.

Improvement

xgotext is too slow. packages.Load invocation is pretty expensive, and xgotext loads every package separately and does it multiple times if package is imported in different files. On a large project it didn't finished after 20 minutes.

### What's the expected behaviour, the current behaviour and the steps

[2021-09-16 20:12] #53 closed

[2021-09-30 11:08] m90 opened #56 "v1.5.0 is a breaking change"
# Please describe your issue

In v1.4.0 one could use a `Po` instance like this:

[code]

After upgrading to v1.5.0 this panics:

[code]

and one has to use:

[code]

instead.

This was introduced in https://github.com/leonelquinteros/gotext/commit/01a5eea7fafa37c65aba5bcf2a34841160ee35be

### Is this a bug, an improvement, a proposal or something else? Describe it.

Following Semver this is a bre

[2021-09-30 13:29] leonelquinteros commented on #56
@m90 As you said, releasing a v2 for a low maintenance project is not an option for me now. That's the reason we're using the minor versioning number to include breaking changes during v1.
I guess after we decide to make the jump to v2, v3, v4, vN will follow quickly and also not sure that's something we want to do and maintain.

I'll leave this issue open, just in case somebody wants to work on i

[2021-12-14 19:12] bk2204 opened #57 "Get and similar functions don't always process formatting sequences"
# Please describe your issue

### Is this a bug, an improvement, a proposal or something else? Describe it.

This is a bug.

The `Printf` function used to format strings doesn't always invoke `fmt.Sprintf`.  As a result, the expansion of `%%` sequences differs if there are arguments or not.

### What's the expected behaviour, the current behaviour and the steps to reproduce it?

I expect that I ca

[2021-12-14 19:46] leonelquinteros commented on #57
Hi @bk2204 , totally understand your issue.
I think this is because of premature optimization on that method.

Let me give it a thought or two and get back with a proposed solution for it.

In the meanwhile, there may be some workarounds for it. I'm thinking on passing maybe a `null` or any placeholder value to the translation function, so you force the `fmt.Sprintf` call, like:

[code]

Should be

[2021-12-17 17:01] mfcochauxlaberge commented on #56
Upgrading to v1.5.0 broke my code and I now need to fix it. It's not the end of the world and I appreciate the effort to provide this nice library.

But I wished semantic versioning was respected. It exists for a reason. If you the maintainer won't commit to a stable API under the `v1` release, then staying at `v0` is probably a better option. Moving up to `v2`, `v3`, `v4` is not ideal like you sa

[2021-12-20 13:01] leonelquinteros commented on #56
Hi @mfcochauxlaberge ,

I understand your frustration, I hope you're able to recover fast from this incident.

As you said, at this point we realise that staying at v0 would have been a better choice, but now it's late for that.

I totally accept contributions for moving to v2, but nobody wanted to take the task, and now it would not make any difference for your use case, as v1.5.0 is already out

[2021-12-20 18:34] xavivars opened #58 "Keep order in po files"
I'm using the library to apply some changes to some existing PO files (from some open source projects), but due to how the library keeps the PO file internally, it's pretty hard to be able to use it:

When "writing back" the po file to text, it reorders all translations, which makes it impractical to later submit an MR to the upstream project.

This simple code (with input and output files attache

[2021-12-20 18:49] leonelquinteros commented on #58
Hola @xavivars,

Yes this happens because of implementation details made to ensure consistent ordering of Po files. This also means that after your first MR, al consequent should be straightforward.
I don't think there is a way currently to handle your use case and can't think of an easy approach for it.

I'd say, if you're working with Po files as an editor, you may better leverage GNU gettext to

[2021-12-21 08:56] xavivars commented on #58
Yeah, that's the problem... I don't really work with the files as an editor, but instead I'm trying to automate some of those editings...

[2021-12-21 13:47] leonelquinteros commented on #58
I'm afraid you'll need to write your own file exporter for this use case. Maybe as part of your script, instead of calling `MarshalText()` you parse the source file again, and replace line by line with the translations from the edited Po object. It shouldn't be too hard, you may also rely on some code from this package to get there faster: https://github.com/leonelquinteros/gotext/blob/master/po.g

[2021-12-21 14:34] xavivars commented on #58
I was hoping to avoid string manipulation at all (reason why I started using `gotext` to start with), but I'll think about it.

Thanks!

[2022-01-03 19:56] bk2204 opened #59 "xgotext emits backtick-delimited strings into .pot files"
### Is this a bug, an improvement, a proposal or something else? Describe it.

It's a bug that `xgotext` emits backtick-delimited strings into `.pot` files when performing string extraction, because these can't be handled by most gettext-based tools, including gotext itself.

### What's the expected behaviour, the current behaviour and the steps to reproduce it?

Test case:

[code]

The expected b

[2022-03-29 02:42] felixvd opened #60 "Exported strings can break PO file format"
# Please describe your issue

Quotation marks in translations or source strings are not escaped, and can break the file format. Newlines are not converted correctly either.

### Is this a bug, an improvement, a proposal or something else? Describe it.

It's a bug.

### What's the expected behaviour, the current behaviour and the steps to reproduce it?

This string:

[code]

is converted to this:

[2022-04-25 14:10] #50 closed

[2022-04-25 14:13] #59 closed

[2022-05-09 13:03] #56 closed

[2022-07-20 19:07] Pixdigit commented on #38
Sorry for the late reply but I sadly don't find the time to implement this myself.